*{
    margin:0;
    padding:0;
}

/* first heading*/
#trust{
    font-size:3rem;
    color:black;
    font-weight:bolder;
    margin-left:32rem;
}
.small{
    font-size:3rem;
    color:black;
    font-weight:bolder;
    margin-left:26rem;
}
.expi{
    margin-left:27.5rem;
    margin-top:1rem;
}
.expi23{
    margin-left:32.5rem;
    margin-top:-15px;
}
/*for the button after first heading*/
.hell{
    width: 15vw; 
    height: 8vh; 
    margin-left: 42rem;
    margin-top:15px;
    background: #325A90;
    color:white;
    font-weight:bold;
    font-size:17px;
    cursor: pointer;
    border-top-right-radius: 26px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/*posters*/
#idel{
    display:flex;
    margin-top:10rem;

}
#idel img{
    width:20px;
    height:20px;
    color:red;
    margin-top:42px;
    margin-left:27px;
}
#idel p{
    padding:0px 0px 19px 46px;
    margin: -28px 18px 3px 12px;
}

.alis1{
    background-color: #FEF2F2;
    color:#EF4444;
    border: 1px solid red;
    width:13vw;
    height:10vh;
    font-weight: bold;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left:30rem;
    padding:0px 0px 0px 0px;
    font-size:18px;
    border-radius: 8px 8px 8px 8px;
}

.alis2{
    background-color: #FEFCE8;
    color:#CA8A04;
    padding:5px 0px -3px 19px;
    border:1px solid yellow;
    width:16vw;
    height:12vh;
    font-weight: bold;
    font-size:18px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left:10rem;
    border-radius: 8px 8px 8px 8px;

}
.alis3{
    background-color: #FEFCE8;
    color:#CA8A04;
    padding:5px 0px -3px 19px;
    border:1px solid yellow;
    width:16vw;
    height:12vh;
    font-weight: bold;
    font-size:18px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left:10rem;
    border-radius: 8px 8px 8px 8px;

}
.alis4{
    background-color: #FEFCE8;
    color:#CA8A04;
    padding:5px 0px -3px 19px;
    border:1px solid yellow;
    width:16vw;
    height:12vh;
    font-weight: bold;
    font-size:18px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left:10rem;
    border-radius: 8px 8px 8px 8px;

}
.alis5{
    background-color: #FEFCE8;
    color:#CA8A04;
    padding:5px 0px -3px 19px;
    border:1px solid yellow;
    width:16vw;
    height:12vh;
    font-weight: bold;
    font-size:18px;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-left:10rem;
    border-radius: 8px 8px 8px 8px;

}
/*nav up*/
.immig{
    margin-left:20px;
}
.immig img{
    margin-left: -13px;
    width: 3.5vw;
    height: 10vh;
}
.headin{
    margin-left:-16px;
    font-size: 17px;
}
.freef{
    font-weight: bold;
    font-size: 44px;
    margin-top: 11px;
}
.field{
   
    padding:8px 54px 8px 16px; 
    border-radius: 8px 8px 8px 8px;
}
.field1{
   margin-top: 20px;
   padding:8px 296px 8px 16px;
   border-radius: 8px 8px 8px 8px;
}
.rows{
    margin-top:20px;
  padding:8px 296px 8px 16px;   
  height:115px;
  border-radius: 8px 8px 8px 8px;
}
.field11{
  margin-top:20px;
  padding:8px 296px 8px 16px;
  border-radius: 8px 8px 8px 8px;
}
.smell{
    margin-top:20px;
    border-top-left-radius:8px ;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px ;
  padding:8px 16px 8px 16px;
  background-color: #325A90;
  color:white;
  font-weight: bold;

}
.usout{
    display:flex;
   border:2px solid #325A90;
    width:1240px;
    height:406px;
    margin-left:150px;
    margin-top:50px;
    background-color: #F2F7FC;
    border-radius: 8px 8px 8px 8px;
}
.seonin img{
    width:23px;
    height:27px;
}
.seonin p{
    margin-left: 32px;
    margin-bottom: 0px;
    margin-top: -25px;
}
.form{
   
    width:30rem;
    height: 25rem;
    margin-left:9rem;
    margin-top:20px;
    padding:0px 0px 0px 0px;
}
.tattoo{
    
    width:300px;
    height: 200px;
    margin-left: 4rem;
    margin-top:4rem;
    padding:0px 0px 0px 0px;
}



.box24{
    
    width:26.5vw;
    height:82vh;

}
.box25{
    border: 2px solid green;
    width:26.5vw;
    height:82vh;

}
.box26{
    border: 2px solid yellow;
    width:27vw;
    height:82vh;


}
.heat{
    width:16vw;
    font-size:25px;
}
.smelling{
    
    border-top-left-radius: 8px;
    border-top-right-radius: 24px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: #325A90;
    color: white;
    font-weight: bold;
    margin-left: 51rem;
    margin-top: 2rem;
    margin-bottom: 32px;

}

.bar1{
    font-weight:bold;
}
.library{
    display:flex;
    list-style: none;
}
.computer img{
    margin-top: 28px;
    height:59vh;
    width:402px;
}
.webdesign{
    margin-top:23px;
}
.library li{
    color:#EC4899;
    border-radius:4px 8px 4px 8px;
    background-color: skyblue;
    width: 136px;
    height: 30px;
    padding: 5px 4px 9px 6px;
    margin-left: 0px;
    margin-right: 11px;
    margin-top: 7px;
}
.count{
    display:flex;
}


.blogs{
    border: 2px solid yellow;
    margin-top: 55px;
    height: 105vh;
    width: 80vw;
    margin-left: 149px;
}
.semon{
    border: 2px solid black;
    display:flex;
}

