<div id="header"></div>

<!-- External CSS -->
<link rel="stylesheet" href="../css/style.css" />
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=arrow_outward" />

<!-- Home Section -->
<div class="div1">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/view/about.html" class="home-link">Home</a></li>
    <li class="breadcrumb-separator">/</li>
    <li class="breadcrumb-item active"><a href="#">Services</a></li>
  </ol>

  <div class="firstP">
    <div class="context">
      <div class="home-nav">
        <div class="comp">
          <div class="contains">
            <p class="text">
              <a class="link1" href="#">Get found</a> on the first page
            </p>
          </div>
          <p class="text1">with our services</p>
          <img src="../images/ninja.png" alt="seoninja" class="logo1" id="ninja"/>
          <p class="para1">
            Achieve top search engine rankings and a visually captivating
            website with our expert SEO <br />
            design services. We combine proven SEO strategies, like Keyword
            optimization and <br />
            technical SEO, with stunning, user-friendly designs that engage your
            audience.
          </p>
          <div class="buttons">
            <button class="btn btn-primary" id="btn1">
              Schedule a meeting
            </button>
            <button class="btn btn-primary" id="btn2">See Pricing</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container for columns and images -->
  <div class="colour">
    <div class="container12">
      <div class="row">
        <!-- Column 1 -->
        <div class="col-lg-2 col-md-4 col-sm-8">
          <img src="../images/frame 1.png" alt="projects done till now" id="mg1" />
          <p class="num">38</p>
          <p id="">Projects done till now</p>
        </div>

        <!-- Column 2 -->
        <div class="col-lg-2 col-md-4 col-sm-8">
          <img src="../images/frame2.png" alt="projects done till now" id="mg2" />
          <p class="num">42+</p>
          <p class="text2">happy clients around world</p>
        </div>

        <!-- Column 3 -->
        <div class="col-lg-2 col-md-4 col-sm-8">
          <img src="../images/frame 3.png" alt="projects done till now" id="mg3" />

          <p class="num">82.1%</p>
          <p class="text3">conversion rate with us</p>
        </div>

        <!-- Column 4 (Last image) -->
        <div class="col-lg-2 col-md-4 col-sm-8">
          <img src="../images/frame 4.png" alt="projects done till now" id="mg4" />
          <p class="num">24+</p>
          <p class="text4">country supported</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="boost">
  <div class="marketing">
    <div class="column">
      <div class="pic">
        <img src="../images/ninja.png" alt="Digital marketing" id="ninja" /><b class="digi">Digital Marketing</b>
        <p class="Dm"><b>Digital marketing to boost<br>
            your online presence</b></p>
        <p id="top">Achieve top search engine rankings and a visually captivating website withour<br>expert SEO and
          design services. We combine proven SEO strategies, like<br>
          keyword optimiztion and technical SEO, with stunning user-friendly designs<br>that engage your audience</p>
      </div>
    </div>
    <div class="column-search">
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja">
        <span id="size">Higher conversion rate</span>
      </div>
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja">
        <span id="size">Top column-search</span>
      </div>

      <!-- Pair 2 (Right side) -->
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja">
        <span id="size">Keyword Research</span>
      </div>
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja" src="script.js">
        <span id="size">Higher conversion rate</span>
      </div>

      <!-- Pair 3 (Left side again) -->
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja">
        <span id="size">Top search</span>
      </div>
      <div class="search-item">
        <img src="../images/ninja.png" alt="ninja" id="ninja">
        <span id="size">Keyword Research</span>
      </div>
    </div>

  </div>
</div>
<!--first template-->
<div class="rowdevloper">
  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/Rectangle.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>
  </div>
  

  <!--2nd template-->

  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/img1.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>
  </div>
</div>

<div class="rowdevloper2">
  <!--third template-->
  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/img3.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>
  </div>



  <!--4th template-->
  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/img4.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>

  </div>
</div>

<!--seek bar  -->
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
    aria-valuemax="100"></div>
</div>

<div class="know">
  <div class="start">
  Get on a call with us</div>
  <div  class="new-div" style="background-color: rgb(7, 148, 148);">
     
    <img class="row-post" src="../images/girl.png" alt="hop" />
</div>

  <div class="ico">
    <h1 class="cat2">Let us Know when you're<br>ready to hop on a call <img src="../images/hand.png" alt="call now" id="hand"> </h1>
   
    
    <div>
      <button class="born btn-sm-primary"> Get a free proposal ></button>
      <p class="kick">or later call on: <a hre="#">1-800-807-0520</a></p>
      
     
      
    </div>
   
  
 
</div>


</div>

<!--craftin -->
<div id="content">
  <div class="column-search1">
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja">
      <span id="size">Higher conversion rate</span>
    </div>
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja">
      <span id="size">Top column-search</span>
    </div>

    <!-- Pair 2 (Right side) -->
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja">
      <span id="size">Keyword Research</span>
    </div>
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja" src="script.js">
      <span id="size">Higher conversion rate</span>
    </div>

    <!-- Pair 3 (Left side again) -->
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja">
      <span id="size">Top search</span>
    </div>
    <div class="search-item">
      <img src="../images/ninja.png" alt="ninja" id="ninja">
      <span id="size">Keyword Research</span>
    </div>
  </div>
  </div>
  <div class="ico1">
  <p><img src="../images/ninja.png" alt="ninja" id="ninja" />Website Design and Development</p>
  <h1 class="crafting">Crafting stunning websites<br> that drive results</h1>
  <p id="Achieve">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, perferendis laborum?<br> Quidem accusantium neque nostrum sequi numquam culpa <br>natus cupiditate, impedit vitae assumenda, similique fuga. Non expedita quibusdam excepturi mollitia<br> deserunt vel quos voluptates unde adipisci ipsam amet,<br> veritatis hic porro alias neque vitae quas.</p>

</div>

<div class="rowdevloper">
  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/Rectangle.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>
  </div>
  

  <!--2nd template-->

  <div class="developer">
    <!-- Content at the top -->
    <div id="media">

      <img src="../images/img1.png" alt="Image" />
      <span class="material-symbols-outlined">
        arrow_outward
        </span>
    </div>
    <div class="inner-box2">
      <p id="social"><b>Social Media Marketing</b></p>
      <p id="market">Customers are interacting with brands through social media. If implemented correctly, SMM can bring
        remarkable success to your business.lkkgmrelgmlrglergf;legf;lglreg;l;mewlfmwel;wlkmfewmfeawllke</p>
    </div>
  </div>
</div>








<!--trusted portion logo-->
<div class="trusted">
  <img src="../images/ninja.png" alt ="ninja" id="money">
  <img src="../images/ninja.png" alt ="ninja" id="second">
  <p id="many">Trusted by many</p>
  <img src="../images/ninja.png" alt ="ninja" class="money">
  <img src="../images/ninja.png" alt ="ninja" class="first">
  
</div>

<div class="branding">
  <div class="spoti">
    <img src="../images/brand 1.png" alt="" srcset="" id="im1">
  </div>
  <div class="spoti"> <img src="../images/brand 2.png"  id="im2"></div>
  <div class="spoti"><img src="../images/brand 3.png" id="im3"></div>
  <div class="spoti"><img src="../images/brand 4.png"  id="im4"></div>
  <div class="spoti"><img src="../images/brand 3.png"  id="im5"></div>
  <div class="spoti"><img src="../images/brand 3.png"  id="im5"></div>
  <div class="spoti"><img src="../images/brand 3.png"  id="im5"></div>

</div>



<!--worked industry portion-->
<div class="have">
<div class="work">
  <img src="../images/ninja.png" alt="ninja" class="nin"  id="ninja"/>
  <p class="ind">Worked Industry</p>
</div>
<div class="head">
  <h2 id="sectors">Sectors we've</h2>
</div>
  <a id="delivered">delivered solutions for</a>
  <div class="frames">
    <div class="column1">
      <div class="photo1">
        <img src="../images/plane.png" alt="">
        <p class="travel">Travel and Hospitality</p>
      </div>
      <div class="photo2">
        <img src="../images/elearn.png" alt="">
        <p class="travel1">Education &<br>E-learning</p>
      </div>
    </div>
  
    <div class="column2">
      <div class="photo3">
        <img src="../images/meadical.png" alt="helathcare and medical">
        <p class="travel2">Healthcare and Medical</p>
      </div>
      <div class="photo4">
        <div class="seconds">
        <p class="travel3">Whatever your industry, we're<br> equipped to elevate your online<br> presence and meet your unique<br> needs.
          <br>
          <a href="#">Schedule a meeting now ></a>
        <img src="../images/hellninja.png" alt="ninja" /></p>
      </div>
      </div>
    </div>
    <div class="column3">
      <div class="photo5">
        <img src="../images/construction.png" alt="">
        <p class="travel4">Construction &<br>Engineering</p>
      </div>
      <div class="photo6">
        <img src="../images/food and beverage.png" alt="">
        <p class="travel5">Food & Beverage</p>
      </div>
    </div>
  </div>
</div>
  
<div class="top">
  <p class="bin"><img src="../images/Group.png" alt="Ninja" class="coden" />Ready to be at top?<br>
    <a id="zzr">Let us Know when you're ready to hop on a call!</a>
  </p>
  <button class="ball btn-sm-primary">Book a call now ></button>
</div>
<div id="footer"></div>
<script>
// JavaScript to load the header
fetch("../include/header.html")
  .then((response) => response.text())
  .then((data) => {
    document.getElementById("header").innerHTML = data;
  })
  .catch((error) => console.error("Error loading header:", error));
  
  // JavaScript to load the footer
  fetch("../include/footer.html")
  .then((response) => response.text())
  .then((data) => {
    document.getElementById("footer").innerHTML = data;
  })
  .catch((error) => console.error("Error loading footer:", error));
  
  fetch('services.html')
  .then(response => response.text())
  .then(data => {
    document.getElementById('services').innerHTML = data;
  })
  .catch(error => console.error('Error loading services:', error));
  </script>